.homepage {
    width: 100%;
    margin-bottom: 80px; /* This matches your navbar height */
    position: relative;
}

.banner-container {
    bottom: 50px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: auto;
    max-height: 800px;
    object-fit: cover;
    min-height: 300px;
}
.search-container {
    position: absolute;
    top: 480px; /* Adjust this value to control vertical position */
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    max-width: 1000px;
    z-index: 20; /* Make sure it's above the banner */
}

/* Card styling */
.card {
    top: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: 100%;
}

.card-body {
    padding: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .banner-container {
        margin-top: 0;
    }

    .banner-image {
        min-height: 300px;
        max-height: 500px;

    }

    .search-container {
        top: 60%;
        margin-top:80px;
        padding: 0 10px;
    }
}

@media (max-width: 576px) {
    .banner-image {
        margin-top: 20px;
        min-height: 250px;
    }

    .search-container {
        top: 58%;
    }
}