.homepage {
    width: 100%;
    margin-top: 10px; /* This matches your navbar height */
    position: relative;
}

.banner-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: -100px;
}

.banner-image {
    width: 100%;
    height: auto;
    max-height: 800px;
    object-fit: cover;
}
.search-container {
    position: absolute;
    top: 590px; /* Adjust this value to control vertical position */
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    max-width: 1000px;
    z-index: 20; /* Make sure it's above the banner */
}

/* Card styling */
.card {
    top: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: 100%;
}

.card-body {
    padding: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .banner-image {
        max-height: 200px;
    }

    .card {
        margin-bottom: 20px;
    }
}